<h1><%= selected_airline.name %></h1>
<%= form_with model: selected_airline do | form | %>
    <div>
        <label>Name:</label>
        <%= form.text_field :name %>
    </div>
    <div>
        <label>Description:</label>
        <%= form.text_field :description %>
    </div>
    <div>
        <label>Number of Planes:</label>
        <%= form.number_field :number_of_planes %>
    </div>
    <div>
        <label>Active:</label>
        <%= form.check_box :active %>
    </div>
    <%= form.submit %>
<% end %>